@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-input-placeholder {
  color: #8e8e8e;
  font-weight: 300;
  font-size: 12px;
}
/* for microsoft browser */
:-ms-input-placeholder {
  color: #8e8e8e;
  font-weight: 300;
  font-size: 12px;
}
/* regular browser */
::placeholder {
  color: #8e8e8e;
  font-weight: 300;
  font-size: 12px;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #fafafa;
}
:root {
  --white: #fff;
  --black: rgb(136, 118, 118);
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 54px;
  background-color: var(--white);
  display: flex;
  padding: 0 200px;
  border-bottom: 1px solid #efefef;
  align-items: center;
}
.navabar__first {
  width: 33.3333333333333%;
}

.navbar__first-logo {
  margin-top: 6px;
}
.navbar__first-logo img {
  /* this proprty not always care the image quality */
  object-fit: cover;
  display: block;
}
.navabar__middle {
  width: 33.3333333333333%;
  display: flex;
  justify-content: center;
}
.navbar_middle-search {
  position: relative;
}
.navbar_search {
  background: #fafafa;
  border: 1px solid #d2dbdb;
  /* top-bottom left-right padding */
  padding: 7px 45px;
  border-radius: 3px;
  outline: none;
  font-size: 14px;
  font-weight: 400;
}

.searchIcon {
  position: absolute;
  top: 9px;
  left: 30px;
  color: silver;
}

.navabar__last {
  width: 33.33333333333333%;
  display: flex;
  justify-content: flex-end;
}
.navabar__last li {
  list-style: none;
  display: inline-block;
  margin: 0 10px;
}
.navbar_last-icon {
  font-size: 25px;
  cursor: pointer;
}
.model {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}
.model_container {
  width: 400px;
  height: auto;
  padding: 15px;
  border-radius: 4px;
  background: var(--white);
}
.model_group {
  margin: 10px 0;
}
.model_input {
  width: 100%;
  height: 40px;
  padding: 0 12px;
  border: 1px solid #d2dbdb;
  outline: none;
  border-radius: 3px;
}
.btn {
  outline: none;
  border: none;
  color: #fff;
  height: 40px;
  padding: 0 13px;
  border-radius: 3px;
  cursor: pointer;
}
.btn-smart {
  width: 100%;
  background: #f83a63;
}
.model_group span {
  font-size: 13px;
  cursor: pointer;
}
.container {
  width: 100%;
  padding: 0, 200px;
  margin-top: 80px;
  margin-left: 12%;
}
.stories {
  display: flex;
  background: var(--white);
  padding: 15px;
  width: 52%;
  border-radius: 3px;
  border: 1px solid #efefef;
}
.stories_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0, 12px;
  cursor: pointer;
}
.stories_img {
  width: 66px;
  height: 66px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #f83a63;
  padding: 3px;
  margin: 0 5px;
}
.stories_img span {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
}
.stories_img span img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.stories_name {
  font-size: 13px;
  margin-top: 3px;
}
.create {
  width: 52%;
  margin: 15px 0;
  background: var(--white);
  padding: 10px;
  border: 1px solid #efefef;
  border-radius: 3px;
}
.create_inputt {
  width: 100%;
  height: 40px;
  padding: 0 13px;
  border: 1px solid #efefef;
}

.create_second {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
/* to hide input field and show camera icon */
.file {
  display: none;
}
.camera {
  color: #f83a63;
  font-size: 30px;
  cursor: pointer;
}
.create_second-a {
  flex: 1;
}
.create_second-b {
  flex: 1;
  text-align: right;
}
.btn-sweet {
  background: #f83a63;
  color: var(--white);
  text-decoration: none;
  border: none;
  padding: 6px 10px;
  cursor: pointer;
  border-radius: 2px;
}

.posts {
  width: 52%;
  background: var(--white);
  margin: 15px, 0;
}
.posts_header {
  display: flex;
  align-items: center;

  background: var(--white);
  padding: 10px;
}
.posts_header-avator {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f83a63;
  text-transform: uppercase;
}
.posts_header-name {
  margin-left: 8px;
  text-transform: capitalize;
}
.posts_img {
  width: 100%;
  overflow: hidden;
}
.posts_img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* comments */

.comments {
  margin-top: 10px;
}
.comment_input {
  width: 100%;
  height: 40px;
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
  border-left: none;
  border-right: none;
  padding: 0 15px;
}
.comments_container {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 0 10px 10px 10px;
}
.comments_container-name {
  margin-right: 8px;
  text-transform: capitalize;
}
.comments_container-msg {
  font-size: 14px;
  color: silver;
  font-weight: 300px;
}

/* slidebar */

.sidebar {
  position: fixed;
  top: 100px;
  right: 200px;
  width: 25%;
  padding-left: 6%;
}

.sidebar_user {
  display: flex;
  align-items: center;
}
.sidebar_user-avator {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: var(--white);
  background: #f83a63;
  border-radius: 50%;
  text-transform: uppercase;
}
.sidebar_user-name {
  padding: 10px;
  text-transform: capitalize;
}
.sidebar_list {
  margin: 20px 0;
}
.sidebar_list h3 {
  font-size: 15px;
  font-weight: 400;
  color: silver;
}
.sidebar_list-user {
  display: flex;
  width: 100%;
  align-items: center;
  margin-top: 10px;
}
.sidebar_list-a {
  flex: 1;
  display: flex;
  align-items: center;
}
.sidebar_list-a-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}
.sidebar_list-a-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.sidebar_list-a-name {
  margin-left: 8px;
  font-size: 14px;
}

.sidebar_list-b {
  flex: 1;
  align-items: right;
}

.sidebar_list-b a {
  text-decoration: none;
  color: rgb(31, 102, 235);
  font-size: 14px;
}

/* responsive */
@media (max-width: 765px) {
  .navbar {
    padding: 0 20px;
  }
  .navabar__middle {
    display: none;
  }
  .navbar_last-icon {
    display: none;
  }

  .sidebar {
    display: none;
  }
  .container {
    padding: 0 20px;
    margin-left: 5%;
  }
  .stories {
    width: 100%;
  }
  .create {
    width: 90%;
    margin: 15px auto;
  }
  .posts {
    margin: 15px auto;
    width: 90%;
  }
}
